.topMain {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: auto;
  // border: 2px solid green;
  margin-bottom: $primary_gap;
}

.topMain_sections {
  display: flex;
  width: 300px;
  height: 150px;
  border: 2px solid green;
  border-radius: 8px;
}
